
:root {
    --color-primary:oklch(75% 0.183 55.934);
    --color-on-primary: oklch(14.1% 0.005 285.823);
    --color-secondary: oklch(70.7% 0.022 261.325);
}


.btn{
    height: 48px;
    padding: 8px 24px;

    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 500;

    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}


.btn-primary{
    background: var(--color-primary);
    color: var(--color-on-primary);
    border: none;

}


.btn-secondary{
    background: transparent;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);

}

.btn-secondary:hover {
  background: var(--color-primary);
  transform: translateY(-1px);
  color: var(--color-on-primary);
}

.btn-tertiary {
    background: transparent;
    color: var(--color-secondary);
    border: none;
}
.btn-tertiary:hover {
    color: var(--color-primary);
    transform: translateY(-1px);
}